{% extends 'base-back.html.twig' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('BackAdmin/img/favicon.png') }}">

    <link rel="stylesheet" href="{{asset('BackAdmin/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/style.css') }}">

{% endblock %}


{% block body %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Matériels</h4>
                       <a href="{{ path('app_materiel_new') }}" class="btn btn-primary btn-lg" type="button" >Ajouter Matériel</a>

                    </div>
                    <div class="card-body">
                    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Chercher.." aria-label="search" aria-describedby="search">
                        <div class="table-responsive">
                            <table class="table table-nowrap mb-0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Photo</th>
                                    <th>Num_serie</th>
                                   <th>Nom</th>
                                  <th>Marque</th>
                                 <th>Date_achat</th>
                                    <th>Affecté à </th> 
                                      <th>Région </th> 
                                      <th>Structure </th> 
                                     <th>Etat</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody  id="hi" >
                                            {% for materiel in materiels %}
                                            <tr>
                
                                              <td>{{ materiel.id }}</td>
                                                {% if materiel.imagem %}
                                                    <td><img class="avatar avatar-img" src="{{ asset('uploads/utilisateurs/' ~ materiel.imagem ) }}" alt="Image"></td>
                                                {% else %}
                                                    <td><img class="avatar avatar-img" src="{{ asset('uploads/utilisateurs/user1.png' ) }}" alt="Image"></td>
                                                {% endif %}
                                                  <td>{{ materiel.numSerie }}</td>
                                                <td><span>{{ materiel.nom |capitalize }}</span></td>
                                                <td><span>{{ materiel.marque |capitalize }}</span></td>
                                                 <td>{{ materiel.dateAchat ? materiel.dateAchat|date('Y-m-d') : '' }}</td>
                                                  <td>{{ materiel.affectation }}</td>
                                                  <td>{{ materiel.affectation.region }}</td>
                                                  <td>{{ materiel.affectation.structure }}</td>

                                                {% if materiel.etat == "En Panne" %}
                                                    <td><span class="badge bg-badge-grey text-danger"><i class="fas fa-circle me-1"></i> En Panne </span></td>
                                                {% elseif materiel.etat == "En Utilisation"  %}
                                                    <td><span class="badge bg-badge-grey text-success"><i class="fas fa-circle me-1"></i> En Utilisation </span></td>
                                              {% elseif materiel.etat == "En Stock" %}
                                                    <td><span class="badge bg-badge-grey text-warning"><i class="fas fa-circle me-1"></i> En Stock</span></td>
                                                {% endif %}

                                             <td><a href="{{ path('app_materiel_show', {'id': materiel.id}) }}">Voir</a></td>
                                              {% if is_granted('ROLE_ADMIN') %}
                                             <td> <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}"><i class="feather-edit-2"></i>Modifier</a></td>
                                                  <td><a class="text-danger" onclick="return confirm('vous etes sure de vouloir supprimer ?');" href="{{path('app_materiel_delete',{'id':materiel.id})}}"><i class="feather-trash-2"></i>Supprimer</a></td>
                                            {% endif %}

                                               
                                                
                                            </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if isPaginated  %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="col Page navigation example">
                        <ul class="pagination">
                            {% if page != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('list_materiels', {page: page - 1, nbre: nbre}) }}">Previous</a></li>
                            {% endif %}
                            {% for i in range(1, nbrePage) %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('list_materiels', {page: i, nbre: nbre}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            {% if page != nbrePage %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('list_materiels', {page: page + 1, nbre: nbre}) }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            {% endif %}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
    	$(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#hi tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    	});
		</script>
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('BackAdmin/js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/js/script.js') }}"></script>

{% endblock %}