{% extends 'base-front.html.twig' %}

{% block body %}

    <div class="pharmacy-home-slider pharmacy-home-slider-primary">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src=" {{ asset('FrontOffice/img/sliderapi.png') }}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{ asset('FrontOffice/img/sliderapi.png') }}" alt="">
                </div>
            </div>

           
           
        </div>

        <div class="swiper-pagination"></div>
    </div>

   

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('FrontOffice/js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/plugins/swiper/js/swiper.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/slick.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/aos.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/script.js') }}"></script>



{% endblock %}

