{% extends "base-pdf.html.twig" %}

{% block title %}Matériel{{ user.id }}{% endblock %}

{% block body %}
<div>
        <img class="avatar avatar-img" src="{{ absolute_url(asset('FrontOffice/img/logoapii.jpg')) }}" align='right'>
    </div>
    
    <div>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
        <h1 align='center' style="color: black">Fiche Employé</h1>
    </div>
    <div>
        <img src="{{ absolute_url(asset('uploads/utilisateurs/' ~ user.image)) }}" width="200" height="100" class="img-fluid" align='left' alt="Logo">
    </div>

        <br>
     <br>
     <br>


    <div>
     <br>
     <br>
      <br>
       <br>
       <br>
       <br>
        <table>
            <tr>
                <td><strong>Nom:</strong> {{ user.nom | capitalize }}</td>
           <br>
            </tr>
            <tr>
                <td><strong>Prénom:</strong> {{ user.prenom | capitalize }}</td>
           <br>
            </tr>
            <tr>
                <td><strong>Adresse:</strong> {{ user.adresse }}</td>
          <br>
            </tr>
            <tr>
                <td><strong>Numéro de Téléphone:</strong> {{ user.numTel }}</td>
           <br>
            </tr>
            <tr>
                <td><strong>Spécialité:</strong> {{ user.specialite }}</td>
            <br>
            </tr>
            <tr>
                <td><strong>Date de Naissance:</strong> <span>{{ user.dateDeNaissance ? user.dateDeNaissance|date('d-m-Y') : '' }}</span></td>
           <br>
            </tr>
            <tr>
                <td><strong>Région:</strong> {{ user.region }}</td>
                <br>
            </tr>
            
            <tr>
                <td><strong>Structure:</strong> {{ user.structure }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
